// resources/sass/custom.scss

:root {
    --bg-color: #FBFBFB;
    --text-color: #112D4E;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
}

// Add any other custom overrides/styles below
// custom.scss

.form-control {
    // border: 1px solid #ced4da;
    // border-radius: 0.75rem;
    transition: border-color 0.2s ease;

    &:focus {
        border-color: oklch(71.5% 0.143 215.221);
        box-shadow: none; // ← removes the glow/spread effect
        outline: none;
    }
}

.btn.btn-custom {
    --btn-bg: oklch(71.5% 0.143 215.221);
    --btn-color: #ffffff;
    --btn-hover-bg: oklch(60.9% 0.126 221.723);
    --btn-hover-color: #ffffff;

    // Default state
    background-color: var(--btn-bg);
    color: var(--btn-color);
    border: none;

    &:hover {
        background-color: var(--btn-hover-bg);
        color: var(--btn-hover-color);
    }
}

.btn.btn-outline-danger {
    --btn-color: oklch(37.2% 0.044 257.287); // Google-red, not washed out
    --btn-hover-bg: oklch(50% 0.22 25); // darker shade for hover
    --btn-hover-color: #ffffff;

    // Default state
    background-color: #ffffff;
    color: var(--btn-color);
    border: 1px solid var(--btn-color);

    &:hover {
        background-color: var(--btn-hover-bg);
        color: var(--btn-hover-color);
        border-color: var(--btn-hover-bg);
    }
}